body {
  background-color: #0f172a;
  gap: 20px;
  color: white;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.column {
  padding: 100px solid white;
  border: 2px solid white;
}
h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

.description {
  font-size: 20px;
}
